<a href="https://colab.research.google.com/github/ahmad777-Ai/Advanced-AI/blob/main/Assingment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

NAME:Ahmad thari al shawawreh

ID: 202230589

<center><img src="https://drive.google.com/uc?export=view&id=16HdIxB0tU-yjDTilrPF7BG71MyV2H3qQ" alt="PSUT"  width="180px">  
<p>
Faculty of Information Technology
 <br>
Computer Science/AI <br>
Data Analysis and Engineering  <br>
Assignment #1 – Python Review
</p></center>


<!-- **Title**:  *Review of Python*  -->
<hr>
<h4><b>Grading Criteria</b></h4>

<table border>
<tr>
<td> <b>Exercise</b></td>
<td> <b>Ex.1</b></td>
<td> <b>Ex.2</b></td>
<td> <b>Ex.3</b></td>
</tr>

<tr>
<td> <b>Marks</b></td>
<td> /3</td>
<td> /3</td>
<td> /4</td>

</tr>
<tr>
<td> <b>Total</b></td>
<th colspan=6> /10</th>
</tr>
</table>

<h4><b>Lab Objectives</b></h4>
<ul>
<li> To familiarize students with Jupyter Notebook.
<li> To familiarize students with Google Colab.
<li> Revise the basics of Python.
<li> Revise the main data structure.
</ul>

<h4><b>Lab Instructions</b></h4>
<ul>
<li> Create a new folder on desktop and name it by your “ID-FirstName-LastName-LabX”
<li> Create a new folder on Google drive and name it by your “ID-FirstName-LastName-DE-Lab” and inside this folder create a new folder for each lab.
<li> You must upload your solutions to e-learning as follows:
<ol>
<li> All your files as ".ipynb". </li>
<li> All your files as ".pdf". </li>
<li> A sharing link of the google drive folder. </li>
</ol>
<li> <b>Do not</b> compress your solutions before upload it to e-learning. </li>
</ul>

NAME:Ahmad thari al shawawreh

ID: 202230589

##Exercise 1:
<h5> <u> Exercise Objectives: </u></h5>
<ul>
<li>Using Python libraries. </li>
<li>Using input/output statement. </li>
<li>Using math library. </li>
</ul>

<h5> <u> Problem Description: </u></h5>
<ul>
<li>Let the user enters two float values (v1,v2). </li>
<li>Print the values as in the example. </li>
<li>You are supposed to use the predefined math functions to compute the following:
<ol>
<li> The ceil and floor of the values.</li>
<li> The remainder when v1 is divided by v2.</li>
<li> The square root of v2. </li>
</ol>
 </li>
</ul>

<h5> <u> Sample Output: </u></h5>

![image.png]()

In [30]:
"""
Implement the solution of the first exercise here

Input:
Three float values from the user

Output:
A set of mathematical operations on the three values.

HINT:: You are supposed to use "input" function to read data from users

"""

'\nImplement the solution of the first exercise here\n\nInput:\nThree float values from the user\n\nOutput:\nA set of mathematical operations on the three values.\n\nHINT:: You are supposed to use "input" function to read data from users\n\n'

In [31]:
v1= float(input("Enter a float number: "))
v2= float(input("Enter a float number: "))
v3= float(input("Enter a float number: "))

Enter a float number: 40.6
Enter a float number: 36.1
Enter a float number: 27.4

In [32]:
import math

In [33]:
math.ceil(v1)

41

In [34]:
math.floor(v1)

40

In [35]:
math.ceil(v2)

37

In [36]:
math.floor(v2)

36

In [37]:
math.ceil(v3)

28

In [38]:
math.floor(v3)

27

In [39]:
remainder = v1 % v2
remainder

4.5

In [40]:
remainder = v2 % v3
remainder

8.700000000000003

In [41]:
print(math.sqrt(v2))

6.008327554319921

In [42]:
print(math.sqrt(v1))

6.371812928829597

##Exercise 2:
<h5> <u> Exercise Objectives: </u></h5>
<ul>
<li>Using Python libraries. </li>
<li>Using numpy library. </li>
<li>Revise dictionay. </li>
</ul>

<h5> <u> Problem Description: </u></h5>
<ul>
<li >Define the employee dictionary (empDict) of the following data:

<table border>
<tr>
<th> ID </th>
<th> Name </th>
<th> Department </th>
<th> Salary </th>
</tr>
<tr>
<td> 2561 </td>
<td> Emp1 </td>
<td> CS </td>
<td> 600 </td>
</tr>
<tr>
<td> 7894 </td>
<td> Emp2 </td>
<td> Eng </td>
<td> 750 </td>
</tr>
<tr>
<td> 1254 </td>
<td> EMp3 </td>
<td> Qua </td>
<td> 680 </td>
</tr>
<tr>
<td> 7744 </td>
<td> Emp4 </td>
<td> Eng </td>
<td> 1520 </td>
</tr>
</table>  </li>

**Hint: You can declare each employee record as a separate dictionary then combine all these dictionaries together in one dictionary called empDict.**

<li> Print the number of elements in empDict.</li>
<li> Add a new key (Gender) to empDict (Gender=['F','M','M','F']).</li>
<li> Print the keys of this dictionary </li>
<li> Print the department of employee "Emp4" </li>
<li> Change the department of student "Emp4" to "SWE" </li>
<li> Print the department of employee "Emp4" </li>
</ul>

<h5> <u> Sample Output: </u></h5>


![image.png]()

In [43]:
import numpy as np

employee_ids = np.array([2561, 7894, 1254, 7744])
employee_names = np.array(["Emp1", "Emp2", "Emp3", "Emp4"])
employee_departments = np.array(["CS", "Eng", "Qua", "Eng"])
employee_salaries = np.array([600, 750, 680, 1520])

empdict = np.column_stack((employee_ids, employee_names, employee_departments, employee_salaries))

print("ID    Name   Department  Salary")
print("=================================")
for row in empdict:
    print(f"{row[0]:<5} {row[1]:<6} {row[2]:<10} {row[3]}")

ID    Name   Department  Salary
=================================
2561  Emp1   CS         600
7894  Emp2   Eng        750
1254  Emp3   Qua        680
7744  Emp4   Eng        1520

In [44]:
elements_num = empdict.size
elements_num

16

In [45]:
gender = np.array(['F', 'M', 'M', 'F'], dtype=object).reshape(-1, 1)
data_gender = np.hstack((empdict, gender))

print(data_gender)

[['2561' 'Emp1' 'CS' '600' 'F']
 ['7894' 'Emp2' 'Eng' '750' 'M']
 ['1254' 'Emp3' 'Qua' '680' 'M']
 ['7744' 'Emp4' 'Eng' '1520' 'F']]

In [46]:
keys= ['id' , 'name' , 'department' , 'salary' , 'gender']
print("keys:" , keys)

keys: ['id', 'name', 'department', 'salary', 'gender']

In [47]:
emp_index = np.where(employee_names == "Emp4")[0][0]
emp_department = employee_departments[emp_index]

print("Department of Emp4:", emp_department)

Department of Emp4: Eng

In [48]:
employee_genders = np.array(['F' , 'M' , 'M' , 'F'])
emp_index = np.where(employee_names == "Emp4")[0][0]
employee_departments[emp_index] = "SWE"

print("Updated Employee Data:")
print("ID    Name   Department  Salary  Gender")
print("========================================")
for i in range(len(employee_ids)):
    print(f"{employee_ids[i]:<5} {employee_names[i]:<6} {employee_departments[i]:<10} {employee_salaries[i]:<7} {employee_genders[i]}")

Updated Employee Data:
ID    Name   Department  Salary  Gender
========================================
2561  Emp1   CS         600     F
7894  Emp2   Eng        750     M
1254  Emp3   Qua        680     M
7744  Emp4   SWE        1520    F

In [49]:
emp_index = np.where(employee_names == "Emp4")[0][0]
emp_department = employee_departments[emp_index]

print("Department of Emp4:", emp_department)

Department of Emp4: SWE

<h3><b>Exercise 3:</b></h3>
<h5> <u> Exercise Objectives: </u></h5>
<ul>
<li>Using Python libraries. </li>
<li>Using pandas library. </li>
<li>Revise dataframe and dictionay. </li>
<li>Revise function. </li>
</ul>

<h5> <u> Problem Description: </u></h5>

* Define the `employee` Dataframe using the dictionary your defined in Exercies2:

* Define a function called `printDF()` that receives a dataframe and prints the shape, the columns of the dataframe, and the dataframe.
* Call `printDF()`.
*  Define a function called `printCol()` that receives a dataframe and a column lable and prints the data in the given column.
* Call `printCol()`.
* Print the third row in `employee`Dataframe.
*  Modify the name of the first employee to your name.
*  Print the second row in `employee` Dataframe.
*  Print the average, minimum, and maximum of salary in `employee` Dataframe.

<h5> <u> Sample Output: </u></h5>


![image.png]()

In [50]:
import pandas as pd

In [51]:
employee= [
    {"ID": 2561, "Name": "Emp1", "Department": "CS", "Salary": 600 ,"Gender":"F"},
    {"ID": 7894, "Name": "Emp2", "Department": "Eng", "Salary": 750 , "Gender":"M"},
    {"ID": 1254, "Name": "Emp3", "Department": "Qua", "Salary": 680, "Gender":"M"},
    {"ID": 7744, "Name": "Emp4", "Department": "Eng", "Salary": 1520 , "Gender":"F"}
]


df = pd.DataFrame(employee)
df

     ID  Name Department  Salary Gender
0  2561  Emp1         CS     600      F
1  7894  Emp2        Eng     750      M
2  1254  Emp3        Qua     680      M
3  7744  Emp4        Eng    1520      F

In [52]:
def printDF(df):
 print("shape:" , df.shape)
print("shape:" , df.shape)
print("Columns list:", df.columns.tolist())

shape: (4, 5)
Columns list: ['ID', 'Name', 'Department', 'Salary', 'Gender']

In [53]:
print("DataFrame:")
print(df)

DataFrame:
     ID  Name Department  Salary Gender
0  2561  Emp1         CS     600      F
1  7894  Emp2        Eng     750      M
2  1254  Emp3        Qua     680      M
3  7744  Emp4        Eng    1520      F

Define a function called printCol() that receives a dataframe and a column lable and prints the data in the given column.

Call printCol().

>>>>>>> no answer

In [61]:
print( "the third row is " ,)
df.iloc[2]

the third row is

ID            1254
Name          Emp3
Department     Qua
Salary         680
Gender           M
Name: 2, dtype: object

note : I changed the second name , not the first >>> to match the Gender

In [55]:
df.at[1, 'Name'] = 'Ahmad'
df

     ID   Name Department  Salary Gender
0  2561   Emp1         CS     600      F
1  7894  Ahmad        Eng     750      M
2  1254   Emp3        Qua     680      M
3  7744   Emp4        Eng    1520      F

In [62]:
print("the second row is")
df.iloc[1]

the second row is

ID             7894
Name          Ahmad
Department      Eng
Salary          750
Gender            M
Name: 1, dtype: object

In [57]:
average_salary = df['Salary'].mean()
print("avg of salary:" , average_salary)

average salary: 887.5

In [58]:
minimum_salary = df['Salary'].min()
print("min salary:" , minimum_salary)

minimum salary: 600

In [59]:
maximum_salary = df['Salary'].max()
print("max salary:" , maximum_salary)

maximum salary: 1520