<a href="https://colab.research.google.com/github/ahmad777-Ai/Advanced-AI/blob/main/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 10
b = 5
sum = a+b
difference = a-b
product = a*b
division = a/b
print("sum:" , sum)
print("difference:" , difference)
print("product:" , product)
print("division:" , division)

sum: 15
difference: 5
product: 50
division: 2.0

In [3]:
print(f"the sum of the two numbers {a} , {b} is {sum}")

the sum of the two numbers 10 , 5 is 15

In [5]:
x = 13//2
print(x)
y = 13%2
print(y)

6
1

In [7]:
#boolean variables and comparisons
x = 10
y = 5

is_greater = x>y
is_equal = x==y
is_not_equal = x!=y

print("is x greater than y?" , is_greater)
print("is x equal y?" , is_equal)
print("is x not equal to y?" , is_not_equal)

is x greater than y? True
is x equal y? False
is x not equal to y? True

In [14]:
#variable assignment
name = "ahmad"
age = 21
is_student = True
print(f"{name}'s age is {age}.  he is a student is {is_student}")

ahmad's age is 21.  he is a student is True

In [10]:
#defining and using a function
def greet(name):
  return "hello," + name + "!"

my_name = input("ENTER YOUR NAME:")
greet(my_name)

ENTER YOUR NAME:ahmad

'hello,ahmad!'

In [13]:
def add_numbers(a,b):
  return a+b

a = int(input("ENTER FIRST NUMBER:"))
b = int(input("ENTER SECOND NUMBER:"))
addition_value=add_numbers(a,b)
print(f"the result of addition for {a} , {b} is {addition_value}")

ENTER FIRST NUMBER:5
ENTER SECOND NUMBER:10
the result of addition for 5 , 10 is 15

In [15]:
def add_numbers(a,b):
  return a+b

a = eval(input("ENTER FIRST NUMBER:"))
b = eval(input("ENTER SECOND NUMBER:"))
addition_value=add_numbers(a,b)
print(f"the result of addition for {a} , {b} is {addition_value}")

ENTER FIRST NUMBER:5.26
ENTER SECOND NUMBER:7.69
the result of addition for 5.26 , 7.69 is 12.95

In [23]:
#working with strings
message = "hello, world"
length = len(message)
uppercase = message.upper()
lowercase = message.lower()
substring_1 = message[0:5]
substring_2 = message[7:12]
print("original message:" , message )
print("the length is:" , length)
print("upper case:" , uppercase)
print("lowercase:" , lowercase)
print("part of the message is:" ,substring_1 )
print("part of the message is:" ,substring_2 )

original message: hello, world
the length is: 12
upper case: HELLO, WORLD
lowercase: hello, world
part of the message is: hello
part of the message is: world

In [25]:
#basic input example
first = input("ENTER THE FIRST NAME , first name:")
last = input("ENTER THE last NAME , last name:")
print(f"{first} , {last}")
print(">>>"f"{first} {last}")

ENTER THE FIRST NAME , first name:ahmad
ENTER THE last NAME , last name:shawawreh
ahmad , shawawreh
>>>ahmad shawawreh

In [26]:
#numeric input example
age = int(input("ENTER YOUR AGE:"))
print("you will be" , age+1 , "years old next year.")

ENTER YOUR AGE:21
you will be 22 years old next year.

In [27]:
#calculation with input

num1 = float(input("ENTER A NUMBER"))
num2 = float(input("ENTER ANOTHER NUMBER"))
sum_result = num1+num2
print("sum:" , sum_result)

ENTER A NUMBER10
ENTER ANOTHER NUMBER15
sum: 25.0

In [31]:
#string concatenation with input
city = input("ENTER YOUR CITY:")
country = input("ENTER YOUR COUNTRY:")
location = city + "," + country
print("you are in:", location)

ENTER YOUR CITY:aqaba
ENTER YOUR COUNTRY:Jordan
you are in: aqaba,Jordan

In [32]:
#multiple inputs
name , age = input("ENTER YOUR NAME AND AGE SPERATED BY SPACE:").split()
print(f"my name is {name} and my age is {age}")

ENTER YOUR NAME AND AGE SPERATED BY SPACE:ahmad 21
my name is ahmad and my age is 21